<div th:fragment="header" class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
        <img th:src="@{/images/logotip.jpg}" width="50" height="50" class="m-2 my-2" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 118 94" role="img"/>
        <span class="fs-4">Вот такая вот загагулина, Бульба</span>
    </a>

    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="p-2 text-dark" href="/">Главная</a>
        <a class="p-2 text-dark" href="/blog">Блог</a>
        <a class="p-2 text-dark" href="/blog/add">Добавить статью</a>
        <a class="p-2 text-dark" href="/about">О нас</a>
    </nav>
</div>